.sidebar{
    width: auto;
    position: fixed;
    background: linear-gradient(90deg,#1b6d54,#1a7353,#37975d);
    color: white;
    height:900px;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px;
}

.profile { 
  display: flex;
  justify-content: center;
  align-items: center; 
}


.profileimg div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.downloadImg{
    border-radius: 50%;
    border: 2px solid white;
}


.name{
    font-weight: bold;
}


.job{
font-size: 1.0rem;
opacity: 0.8;
}


.nav{
     display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 0px;
  width: 220px;
  padding: 12px;
}

.button{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav button:hover,
.nav button.active{
    background: rgba(255, 255, 255, 0.5);
}

.logout{
    display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border: none;

  background-color: transparent;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.navcontainer{
    justify-content: space-between;
}
.nav2{
     display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 110px;
  width: 220px;
  padding: 16px;
}
.nav2 .logout:hover,
.nav2 button.active{
    background: rgba(255, 255, 255, 0.5);
}

